<ul>
  <li><a [routerLink]="['day1']">day1</a></li>
  <li><a [routerLink]="['day3']">day3</a></li>
  <li><a [routerLink]="['day5']">day5</a></li>
  <li><a [routerLink]="['day6']">day6</a></li>
  <li><a [routerLink]="['day7']">day7</a></li>
  <li><a [routerLink]="['day8']">day8</a></li>
  <li><a [routerLink]="['day9']">day9</a></li>
  <li><a [routerLink]="['day10']">day10</a></li>
  <li><a [routerLink]="['day11']">day11</a></li>
  <li><a [routerLink]="['route']">route</a></li>
</ul>

<router-outlet></router-outlet>
